.navbar{
height: 50px;
background-color: #000000;
display: flex;
justify-content: center;
color: rgb(255, 255, 255);
font-size: .7rem;
}

.navContainer{
width: 100%;
max-width: 1024px;
display: flex;
align-items: center;
justify-content: space-between;
}

.logo{
font-weight: 500; 
font-weight: bold;
}

.navItem{

}

.newButton{
margin-left: 20px;
border: none;
padding: 5px 15px;
cursor: pointer;
color: white;
background-color: rgb(255, 101, 101);
}